### num1=int(12.5)
print(num1)

In [ ]:
print(str(num1))

In [ ]:
name='85'
print(float('name'))

In [1]:
name=input('please provide your name')

please provide your namearome

In [2]:
age=int(input('please provide your
              age'))

SyntaxError: EOL while scanning string literal (1524654017.py, line 1)

# Arithmetic operators

In [ ]:
#+,-,/,*,%,//,**
num1=40
num2=20
print(f'{num1}+{num2}={num1-num2}')
print(f'{num1}-{num2}={num1-num2}')
print(f'{num1}/{num2}={num1/num2}')
print(f'{num1}*{num2}={num1*num2}')
print(f'{num1}%{num2}={num1%num2}')
print(f'{num1}//{num2}={num1//num2}')
print(f'{num1}**{num2}={num1**num2}')

# Comparison Operator

In [ ]:
#>,<,>=,<=,==,!=

In [ ]:
print(num1>num2)
print(num1>=num2)
print(num1<num2)
print(num1<=num2)
print(num1==num2)
print(num1!=num2)

# Logical operators

In [ ]:
# and, or, not

In [ ]:
print(num1!=num2 and num2<num1)
print(num1!=num2 or num2>num1)
print(not num1)

# identity operators

In [ ]:
# is, is not

In [ ]:
print(num1 is num2)
print(num1 is not num2)

# membership operators

In [ ]:
#in, not in
word='python'
print('p'in word)
print('P' not in word)

# Ade bought 50 pen at a cost of 50 naira per pen if he sold the pen at the rate of 100 naira write a program to calculate ade's profit

In [1]:
pen=50
cost1=50
cp=pen*cost1
sprate=100
sp=pen*sprate
profit=sp-cp
print(f'The profit ade made selling at the rate of 100naira per pen is{profit}')

The profit ade made selling at the rate of 100naira per pen is2500

# assignment 2

In [ ]:
#display 458 in float
num1=458
print(float(num1))

# Number 2

In [ ]:
name=print('input three names')

# write a program to find the amount that 5000 becomes if ssaved for 3 years at 6% per anum compound interest

In [7]:
#A=p(1+(r/n))**nt
p=5000
r=6/100
n=12
t=3
A= p*(1+(r/n))**(n*t)
print(f'The amount{p} will become if saved for {t} years at 6% compound interest is {A}')

The amount5000 will become if saved for 3 years at 6% compound interest is 5983.402624117073

# number 3

# Members of a family estimate they will need 700000 to improve their house in three years time. they deposit 550000 at 5% per anum compound interest they add 25000 at the end of first year and 35000 at the end of second year write a program to find 1. their total savings after 3 years 2. by how much are their savings greater than or less than?

In [8]:
p1=550000
p2=25000
p3=35000
r=5/100
n=12
t=1
estimated= 700000
firstyear=(p1*(1+r)**1)+p2
secondyear=(firstyear*(1+r)**1)+p3
thirdyear=(secondyear*(1+r)**1)
diff=thirdyear-estimated
print(diff)

1006.25

# iterable objects

In [ ]:
#Tuple is unchangeable
#it must be ordered
#it is denoted with()
#we must use index location to get a value from the tuple

In [ ]:
numbers=(45,23,20,30,45,90,58,65,60,78,92,45,86)
print (type(numbers))

In [ ]:
print(len(numbers))

In [ ]:
print(numbers[6])

In [ ]:
print(numbers[-7])

In [ ]:
print(numbers[4:9])

# membership
#count function

In [ ]:
print(numbers.count(45))

In [ ]:

print(numbers.index(90))

In [ ]:
#list
#list is changeable
#list can be ordered or unordered
#list is denoted with []
#we use index location to get a value from the list

In [ ]:
fruits=['apple','mango','cherry','banana','coconut']

In [9]:
fruits.append('strawberry')#append will add the new value at the end of the list
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
store=['pawpaw','apple','lemon','grape','pear']
fruits.extend(store)#extend will move the value from a list to another list
print(fruits)

In [10]:
fruits.insert(5,'pears')#insert will add the value to the specified location in the list
print(fruits)

NameError: name 'fruits' is not defined

In [ ]:
fruits.pop(5)

In [ ]:
fruits.remove('mango')
print(fruits)

In [ ]:
fruits2=fruits.copy()
print(fruits)

In [ ]:
fruits2.clear()
print(fruits2)

In [ ]:
fruits.sort()
print(fruits)

In [ ]:
fruits.reverse()
print(fruits)

In [ ]:
del(fruits2)
print(fruits2)

In [ ]:
#dictionary is changeable
#dictionary can be ordered or unordered
#dictionary is denoted with {}
#we use the key to get the value from the dictionary

In [ ]:
details={
'name':'wesley',
'age':50,
'gender':'male',
'height':1.83,
'weight':73}

In [11]:
print(details['age'])

NameError: name 'details' is not defined

In [ ]:
details.keys()

In [ ]:
details.values()

In [ ]:
details.items()

In [ ]:
record={
'name':['ade','ojo','jame','jane'],
'age':[45,50,28,32]
}

In [ ]:
print(record['name'][2])

# Ibor bought 32 cars at a cost of 5000000 naira per car if he sold the car at the rate of 5500000 naira write a program to calculate Ibor's profit

In [6]:
car= 32
cost1= 5000000
sp1= 5500000
cp=car*cost1
sp=car*sp1
profit = cp-sp
print(f'the profit ibor made selling the car at 5500000 is{}')

SyntaxError: f-string: empty expression not allowed (2102994179.py, line 7)